version: '3.8'

services:
  tatort-app:
    build: .
    volumes:
      - .:/app
      - ./testfiles:/app/testfiles
      - ./output:/app/output
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    command: python -m app.main
